@charset "UTF-8";
#greeting:hover {
  color:blue;
}

#qr_code:hover {
  color:blue;
}

const style = document.createElement('style');
style.textContent=`
  body, html {
    margin:0;
    padding:0;
    overflow: hidden;
    height: 100%;
  }

  #backgroundCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    heigth: 100%;
  }
  `;
  document.head.appendChild(style);