/* body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
} */

html{
  scroll-behavior:smooth;
}

@media(prefers-color-scheme:dark){
  nav{
    background-color:#2a2a2a;
    color:#dbdbdb;
  }

  .main  .qrcode  #qrcode_img{
    filter:invert(1);
  }

  body{
    background-color:#2a2a2a;
    color:#dbdbdb;
    
    language_table{
      border-collapse: collapse;
      border-spacing: 0;
      border:none;
      
      tr:nth-child(even){
        background-color:#012330;
      }
      tr:nth-child(odd){
        background-color:#023642;
      }

      th{
        background-color:rgba(30, 34, 234, 0.936)
      }

    }

    .workExperience table.aspark ,
    .workExperience table.coresys,
    .workExperience table.polyTech {
      border-collapse: collapse;
      border-spacing: 0;
      border: 2px solid rgb(206, 206, 206);
    }

    .workExperience table.aspark *,
    .workExperience table.coresys *,
    .workExperience table.polyTech * {
      border: 2px solid rgb(206, 206, 206);
    }

  }
}

nav{
  padding-top: 5px;
  box-sizing:border-box;

  a:hover{
    color: black;
  }

  ul{
    display:flex;
  }
  li{
    list-style:none;
  }
  a{
    display: block;
    text-decoration:none;
    color: wihte;
    margin-right: 35px;
  }
}
.main{
  margin:1rem;
  h2{
    border-bottom:solid;
    border-color:rgb(150, 150, 150);
    border-width:1px;
  }
  h3{
    margin:1rem;
  }
}

.backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
}

.main > .qrcode > #qrcode_img{
  width: 5rem;
  height: 5rem;
}

.basicInfo_table,
.qualification_table,
.language_table,
.environment_table
{
  border-collapse: collapse;
  border-spacing: 0;
  border:none;
  th{
    background-color:#c0c0c0;
  }
  tr:nth-child(even){
    background-color:#dcdcdc;
  }
  tr:nth-child(odd){
    background-color:#f5f5f5;
  }

}

.workExperience table.aspark,
.workExperience table.coresys,
.workExperience table.polyTech {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}

.workExperience table.aspark *,
.workExperience table.coresys *,
.workExperience table.polyTech * {
  border: 2px solid black;
}
